NodeRed flow.json
[{"id":"4eb767e1.e87178","type":"tab","label":"SMART AGRICULTURE SYSTEM","disabled":false,"info":""},{"id":"d60a056b.d680e8","type":"function","z":"4eb767e1.e87178","name":"temperature","func":"var temp=global.get(\"temperature\")\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["f6898175.9016d","c8f9942b.e09728","127481f2.6eaa9e"]]},{"id":"bce828d0.5c8fb8","type":"function","z":"4eb767e1.e87178","name":"humidity","func":"var hum=global.get(\"humidity\")\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["aff29897.ca9028","c8f9942b.e09728","febb8bb5.c23aa8"]]},{"id":"61c51a16.ec40c4","type":"function","z":"4eb767e1.e87178","name":"objectTemp","func":"var objtemp=global.get(\"objectTemp\")\nmsg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["12c62aa8.168a95","c8f9942b.e09728","d1404ad2.a68e58"]]},{"id":"c8f9942b.e09728","type":"debug","z":"4eb767e1.e87178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":240,"wires":[]},{"id":"2556d4e1.83722c","type":"http in","z":"4eb767e1.e87178","name":"","url":"/data1","method":"get","upload":false,"swaggerDoc":"","x":200,"y":680,"wires":[["9fe71915.fab3f8"]]},{"id":"307c8ae3.e14156","type":"http response","z":"4eb767e1.e87178","name":"","statusCode":"","headers":{},"x":610,"y":680,"wires":[]},{"id":"9fe71915.fab3f8","type":"function","z":"4eb767e1.e87178","name":"display","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"objectTemp\":global.get('objectTemp'),\n    \"alert\":global.get('alert')\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["307c8ae3.e14156"]]},{"id":"1c513368.799dbd","type":"function","z":"4eb767e1.e87178","name":"","func":"flow.set('temperature',msg.payload.d.temperature)\nflow.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":420,"wires":[[]]},{"id":"dd0c5cbd.9761c","type":"ibmiot out","z":"4eb767e1.e87178","authentication":"apiKey","apiKey":"6a090bf.195e4f4","outputType":"cmd","deviceId":"mb1300479","deviceType":"SmartAgro","eventCommandType":"home","format":"json","data":"data1","qos":"0","name":"IBM IoT","service":"registered","x":600,"y":500,"wires":[]},{"id":"f6898175.9016d","type":"ui_gauge","z":"4eb767e1.e87178","name":"","group":"19d7bd07.f67fa3","order":1,"width":"6","height":"8","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#008000","#0484e1","#ff8000"],"seg1":"","seg2":"","x":630,"y":120,"wires":[]},{"id":"12c62aa8.168a95","type":"ui_gauge","z":"4eb767e1.e87178","name":"Soil Moisture","group":"e8e3f66d.3541f8","order":3,"width":"6","height":"8","gtype":"gage","title":"Soil Moisture","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"aff29897.ca9028","type":"ui_gauge","z":"4eb767e1.e87178","name":"","group":"33645b1e.93f944","order":2,"width":"6","height":"8","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":380,"wires":[]},{"id":"23306da6.6cede2","type":"ui_button","z":"4eb767e1.e87178","name":"","group":"bc6357bb.e1fd58","order":1,"width":"6","height":"6","passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"green","icon":"https://cdn5.vectorstock.com/i/1000x1000/73/54/start-button-icon-symbol-premium-quality-isolated-vector-14807354.jpg","payload":"{\"command\" : \"motoron\"}","payloadType":"json","topic":"","x":270,"y":480,"wires":[["dd0c5cbd.9761c","c8f9942b.e09728"]]},{"id":"55f367e7.d42298","type":"ui_button","z":"4eb767e1.e87178","name":"","group":"105e4e8c.e27a11","order":2,"width":"6","height":"6","passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"red","icon":"https://cdn5.vectorstock.com/i/1000x1000/73/54/start-button-icon-symbol-premium-quality-isolated-vector-14807354.jpg","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":270,"y":560,"wires":[["dd0c5cbd.9761c","c8f9942b.e09728"]]},{"id":"4d7cd478.324dac","type":"ibmiot in","z":"4eb767e1.e87178","authentication":"apiKey","apiKey":"6a090bf.195e4f4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mb1300479","applicationId":"","deviceType":"HpRahul","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":260,"wires":[["d60a056b.d680e8","61c51a16.ec40c4","bce828d0.5c8fb8","1c513368.799dbd","512158c1.a66fe8"]]},{"id":"512158c1.a66fe8","type":"function","z":"4eb767e1.e87178","name":"alert","func":"if ((flow.get('temperature')>32) && (flow.get('humidity')<70))\n    {global.set('alert',\"turn on motor\")}\nif(flow.get('humidity')>70 && flow.get('temperature')<32)\n    {global.set('alert',\"humidity is high\")}\nif(flow.get('humidity')>70 && flow.get('temperature')>32)\n    {global.set('alert',\"both temp and humidity is high\")}\nif(flow.get('humidity')<70 && flow.get('temperature')<32)\n    {global.set('alert',\" \")}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[[]]},{"id":"127481f2.6eaa9e","type":"ui_chart","z":"4eb767e1.e87178","name":"","group":"9c54b0d5.05504","order":0,"width":"6","height":"8","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":180,"wires":[[]]},{"id":"d1404ad2.a68e58","type":"ui_chart","z":"4eb767e1.e87178","name":"","group":"429e68a9.166c48","order":0,"width":"6","height":"8","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":300,"wires":[[]]},{"id":"febb8bb5.c23aa8","type":"ui_chart","z":"4eb767e1.e87178","name":"","group":"27d6f7dd.1e3d98","order":0,"width":"6","height":"8","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740.765625,"y":434.75,"wires":[[]]},{"id":"dc5bc2cb.716fa","type":"http request","z":"4eb767e1.e87178","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Thane,IN&appid=97dc2389e5626f1892272c5e50821157","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":960,"wires":[["9d8abca1.202f","2cddce6d.c55dd2","e109c8ce.f7c698","d5a1acca.176b6","a15949d3.43a1e8","8d91fb27.506bf8"]]},{"id":"205690c5.6f9e4","type":"inject","z":"4eb767e1.e87178","name":"","topic":"","payload":"make request","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":820,"wires":[["dc5bc2cb.716fa"]]},{"id":"35652193.9ab5fe","type":"debug","z":"4eb767e1.e87178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":800,"wires":[]},{"id":"e109c8ce.f7c698","type":"function","z":"4eb767e1.e87178","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":880,"wires":[["35652193.9ab5fe","e458ee5f.3a1d7"]]},{"id":"2cddce6d.c55dd2","type":"function","z":"4eb767e1.e87178","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":980,"wires":[["35652193.9ab5fe","fdb86fd5.2412a"]]},{"id":"9d8abca1.202f","type":"function","z":"4eb767e1.e87178","name":"Region","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":920,"wires":[["35652193.9ab5fe","21475eac.5dbc62"]]},{"id":"d5a1acca.176b6","type":"function","z":"4eb767e1.e87178","name":"weather_description","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1040,"wires":[["35652193.9ab5fe","366fdf6d.aca04"]]},{"id":"a15949d3.43a1e8","type":"function","z":"4eb767e1.e87178","name":"temperature","func":"msg.payload=Math.ceil(msg.payload.main.temp-273)\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":820,"wires":[["35652193.9ab5fe","6cdf9eeb.1147b"]]},{"id":"21475eac.5dbc62","type":"ui_text","z":"4eb767e1.e87178","group":"444ad16.145fe3","order":4,"width":"6","height":"1","name":"Region","label":"Region","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":1040,"wires":[]},{"id":"366fdf6d.aca04","type":"ui_text","z":"4eb767e1.e87178","group":"a8a0e642.8a76a8","order":5,"width":0,"height":0,"name":"weather_description","label":"weather_description","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":1120,"wires":[]},{"id":"fdb86fd5.2412a","type":"ui_gauge","z":"4eb767e1.e87178","name":"","group":"b8b2883e.dd0168","order":2,"width":"6","height":"8","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":1080,"wires":[]},{"id":"e458ee5f.3a1d7","type":"ui_gauge","z":"4eb767e1.e87178","name":"","group":"7a90105f.e809c","order":3,"width":"6","height":"8","gtype":"wave","title":"Pressure","label":"mb","format":"{{value}}","min":"100","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":1000,"wires":[]},{"id":"6cdf9eeb.1147b","type":"ui_gauge","z":"4eb767e1.e87178","name":"","group":"7bd797f2.016448","order":1,"width":"6","height":"8","gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#008000","#0484e1","#ff8000"],"seg1":"","seg2":"","x":970,"y":960,"wires":[]},{"id":"e4da94d8.d665c8","type":"http in","z":"4eb767e1.e87178","name":"","url":"/data2","method":"get","upload":false,"swaggerDoc":"","x":350,"y":1320,"wires":[["3b70a7f5.108cf8"]]},{"id":"258fad5b.f036f2","type":"http response","z":"4eb767e1.e87178","name":"","statusCode":"","headers":{},"x":760,"y":1320,"wires":[]},{"id":"3b70a7f5.108cf8","type":"function","z":"4eb767e1.e87178","name":"display","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"pressure\":global.get('pressure'),\n    \"region\":global.get('region'),\n    \"weather\":global.get('weather'),\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1240,"wires":[["258fad5b.f036f2"]]},{"id":"8d91fb27.506bf8","type":"function","z":"4eb767e1.e87178","name":"","func":"flow.set('temperature',Math.ceil(msg.payload.main.temp-273))\nglobal.set('pressure',msg.payload.main.pressure)\nflow.set('humidity',msg.payload.main.humidity)\nglobal.set('weather',msg.payload.weather[0].description)\nglobal.set('region',msg.payload.name)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1120,"wires":[[]]},{"id":"6a090bf.195e4f4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"n499d7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"19d7bd07.f67fa3","type":"ui_group","z":"","name":"Soil Moisture","tab":"e21d5670.3988e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"e8e3f66d.3541f8","type":"ui_group","z":"","name":"Soil Moisture","tab":"e21d5670.3988e8","order":7,"disp":true,"width":"6","collapse":false},{"id":"33645b1e.93f944","type":"ui_group","z":"","name":"Humidity","tab":"e21d5670.3988e8","order":6,"disp":true,"width":"6","collapse":false},{"id":"bc6357bb.e1fd58","type":"ui_group","z":"","name":"Motor ON","tab":"92acdeaa.494e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"105e4e8c.e27a11","type":"ui_group","z":"","name":"Motor OFF","tab":"92acdeaa.494e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"9c54b0d5.05504","type":"ui_group","z":"","name":"Temerature","tab":"46d2d9bd.e70858","order":1,"disp":true,"width":"6","collapse":false},{"id":"429e68a9.166c48","type":"ui_group","z":"","name":"Soil Moisture","tab":"46d2d9bd.e70858","order":2,"disp":true,"width":"6","collapse":false},{"id":"27d6f7dd.1e3d98","type":"ui_group","z":"","name":"Humidity","tab":"46d2d9bd.e70858","order":3,"disp":true,"width":"6","collapse":false},{"id":"444ad16.145fe3","type":"ui_group","z":"","name":"Region","tab":"e21d5670.3988e8","order":13,"disp":true,"width":"6","collapse":false},{"id":"a8a0e642.8a76a8","type":"ui_group","z":"","name":"Weather_description","tab":"e21d5670.3988e8","order":12,"disp":true,"width":"9","collapse":false},{"id":"b8b2883e.dd0168","type":"ui_group","z":"","name":"Humidity","tab":"e21d5670.3988e8","order":10,"disp":true,"width":"6","collapse":false},{"id":"7a90105f.e809c","type":"ui_group","z":"","name":"Pressure","tab":"e21d5670.3988e8","order":9,"disp":true,"width":"6","collapse":false},{"id":"7bd797f2.016448","type":"ui_group","z":"","name":"Temperature","tab":"e21d5670.3988e8","order":8,"disp":true,"width":"6","collapse":false},{"id":"e21d5670.3988e8","type":"ui_tab","z":"","name":"SMART AGRO","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"92acdeaa.494e8","type":"ui_tab","z":"","name":"MOTOR CONTROL","icon":"dashboard","disabled":false,"hidden":false},{"id":"46d2d9bd.e70858","type":"ui_tab","z":"","name":"CHART","icon":"dashboard","disabled":false,"hidden":false}]